<%- include('./partials/header'); %>
<div class="container">

  <!-- <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Entrez votre post">
    <label class="input-group-text" for="inputGroupFile01">Upload</label>
    <input type="file" class="form-control" id="inputGroupFile01">
  </div> -->

 
  <% allPosts.forEach(function(item){ %>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= item.Users_idUsers %> 
          </h5>
          
          <p class="card-text"><%= item.createAt %> </p>
          <p class="card-text"><%= item.content %> </p>
          
        </div>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <a href="#" class="card-link">Submit</a>
          <a href="#" class="card-link">supprimer</a>
        </div>
      </div>
      <br>
      <br>
    <% }) %> 
</div>
<%- include('./partials/footer'); %>