<%- include('./partials/header'); %>
<div class="container">

<form action="/home" method="post" onctype="multipart/form-data">
    <input type="text"  name="content" class="form-control" placeholder="Content"><br>
    <input type="file" name="attachments" class="form-control"><br>
    <input type="submit" value="Enregistrer" class="btn btn-primary">
</form> 
<br>
 
  <% allPosts.forEach(function(item){ %>
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= item.Users_idUsers %> 
          </h5>
          
          <p class="card-text"><%= item.createAt %> </p>
        </div>
        <div class="card-body">
          <p class="card-text"><%= item.content %> </p>
          <img src="/img/uploads/<%= item.attachments %>" alt="image " style="width: 22rem;">
        
              <a href="#" class="card-link">modifier</a>
      
          <button type='submit' method='delete'>
              <a href="/deletePost?id<%= item.id %>" class="card-link">Delete</a>
          </button>
          
          <a href="#" class="card-link">Comments</a>
          <a href="#" class="card-link">like</a>
        </div>
      </div>
      <br>
      <br>
    <% }) %> 
</div>
<%- include('./partials/footer'); %>